/* Align flex children at small and large viewports */

.split {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--bespoke-spacer, var(--spacer));

  @include respond-to("medium") {
    flex-direction: row;
  }
}
