.about {
  --bespoke-gap: 2em;

  @include respond-to("medium") {
    --bespoke-gap: clamp(3rem, 20%, 8rem);
  }
}

.about-text {
  @include respond-to("medium") {
    flex: 1 1 60%;
  }
}

.about-text,
.about-image {
  flex: 1 1 0;
}
