.button {
  position: relative;
  display: inline-block;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  inline-size: fit-content;
  border: 1px solid var(--clr-primary-300);
  background-color: var(--bg, var(--clr-secondary-100));
  transition: background-color 200ms linear, color 400ms linear;
  color: var(--fg, var(--clr-primary-300));
  cursor: pointer;

  &:hover {
    --bg: var(--clr-primary-300);
    --fg: var(--clr-secondary-100);
  }
}

// FIXME hover on psudo element delayed
.accent {
  --bg: var(--clr-primary-200);
  --fg: var(--clr-secondary-100);
  padding-inline-start: 4.5em;

  &::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 3em;
    block-size: 100%;
    background-color: hsla(204, 42%, 19%, 1);
    background-image: url("../../images/icons/down-arrows.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    --bg: var(--clr-primary-100);

    &::before {
      // FIXME change svg color to white
      background-color: hsla(167, 31%, 48%, 1);
    }
  }
}
