.contact-into {
  margin-block-start: clamp(2.5rem, 15%, 5rem);
}

.contact-intro,
.contact-form {
  @include respond-to("large") {
    --bespoke-flow-spacer: 0;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
}

.form {
  --bespoke-flow-spacer: 1em;

  label,
  input {
    display: block;
    inline-size: 100%;
  }

  input {
    padding-inline: clamp(1rem, 5%, 2rem);
    padding-block: clamp(0.5rem, 2.5%, 1rem);
    border: 0;
    margin-block-start: 0.5em;
    background-color: var(--clr-secondary-200);
  }

  // FIXME: location of text at top of text input and wrapping
  input[type="textarea"] {
    min-block-size: 6em;

    &::placeholder {
      position: absolute;
      inset-block-start: 1em;
    }
  }

  .error-container {
    min-block-size: 1.25em;
    margin-block-start: 0.25em;
  }

  .error {
    border: 1px solid var(--clr-error-100);
  }

  .error-message {
    font-size: 1em;
    font-style: italic;
    line-height: 1;
    color: var(--clr-error-100);
  }
}
