// /*   Navigation
//      ================================================== */
.site-head {
  padding-block: calc(var(--spacer) * 3);
}

.site-head__inner {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer);
}

.logo {
  max-inline-size: min-content;
  // padding-block-start: 0.5rem;
  // margin-inline-end: 2rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: calc(var(--spacer) * 2.5);

  a {
    display: block;
    text-align: center;

    &:hover,
    &[data-state="active"],
    &[aria-current="page"] {
      color: var(--clr-primary-100);
    }
  }
}
