/*  Footer
    ================================================== */
.site-foot {
  grid-column: 1 / -1;
  background-color: var(--clr-primary-300);
  color: var(--clr-secondary-100);
  padding-block: calc(var(--spacer) * 1);

  .split {
    align-items: center;
  }

  path {
    fill: var(--clr-secondary-100);
  }

  .socials {
    flex-direction: row;
  }
}
