// /*   Navigation
//      ================================================== */
.site-head {
  padding-block: calc(var(--spacer) * 3);
}

.site-head__inner {
  --bespoke-spacer: calc(var(--spacer) * 2.5);
  flex-direction: row;
}

.logo {
  max-inline-size: min-content;
}

.nav-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  a {
    display: block;
    text-align: center;

    &:hover,
    &[data-state="active"],
    &[aria-current="page"] {
      color: var(--clr-primary-100);
    }
  }
}
