/* Center main content on page */
$min: 1rem;
$max: 1440px;

.align-content {
  display: grid;
  grid-template-columns: minmax($min, 1fr) minmax($min, $max) minmax($min, 1fr);
  // grid-auto-rows: min-content;

  > * {
    grid-column: 2;
  }
}
