<!-- FIXME: images are not changing -->

<article class="project">
  <img
  class="project-hero"
    width="622"
    height="280"
    src="{{ item.data.project.hero.mobile }}"
    srcset="{{ item.data.project.hero.mobile }} 622w,
               {{ item.data.project.hero.tablet }} 1378w,
               {{ item.data.project.hero.desktop }} 2200w"
    sizes="(min-width: 40em) 50vw, 100vw"
    alt="{{ item.data.title }} screenshots"
  />
  <header class=" [ project-intro ] [ borders ]">
      <h2 class="h1">{{ item.data.title }}</h2>
      <p class="roles">{{ item.data.roles }}</p>
      <p class="summary">{{ item.data.summary }}</p>
      <a href="{{ external-link }}" class="button">Visit Website</a>
  </header>
  <section class="flow-content">
    <h3 class="h2">Project Background</h3>
    <p>{{ item.data.background }}</p>
    <h3 class="h2">Static Previews</h3>
    <img
      width="622"
      height="392"
      src="{{ item.data.project.previews.mobile }}"
      srcset="{{ item.data.project.previews.mobile.one }} 622w,
                 {{ item.data.project.previews.tablet.one }} 1378w,
                 {{ item.data.project.previews.desktop.one }} 1270w"
      sizes="(min-width: 40em) 50vw, 100vw"
      alt="{{ item.data.title }} landing page"
    />
    <img
      width="622"
      height="392"
      src="{{ item.data.project.previews.mobile }}"
      srcset="{{ item.data.project.previews.mobile.two }} 622w,
                 {{ item.data.project.previews.tablet.two }} 1378w,
                 {{ item.data.project.previews.desktop.two }} 1270w"
      sizes="(min-width: 40em) 50vw, 100vw"
      alt="{{ item.data.title }} landing page"
    />
  </section>
</article>


